<%- include("../partials/header") %>
<div class="book-page">
    <div class="book-info">
    <img class="book-cover" src="<%-book.imgUrl%>" alt="<%- book.title%>">
    </div>
    <div class="book-info">
        <span class="book-title"><%- book.title%></span>
        <span class="book-author"><%- book.author%></span>
    </div>
    <div class="book-info">
        <p><%- book.description%></p>
    </div>
</div>
</body>
</html>