<%- include("../partials/header") %>
<div class="page">
    <div class="info">
    <img class="cover" src="<%-book.imgUrl%>" alt="<%- book.title%>">
    </div>
    <div class="info">
        <span class="title"><%- book.title%></span>
        <span class="author"><%- book.author%></span>
    </div>
    <div class="info">
        <p><%- book.description%></p>
    </div>
</div>
</body>
</html>