<%- include("../partials/header") %>
<div class="song-page-body">
    <div class="song-box">
        <span class="song-title"><%-song.title%></span>
        <span class="song-artist"><%-`${song.artist}`%></span>
        <span><%-`${song.streams}`%></span>
    </div>
</div>
<%- include("../partials/footer") %> 